<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Naya_Soutien</display-name>
  
  <servlet>
    <description></description>
    <display-name>Etudiant</display-name>
    <servlet-name>Etudiant</servlet-name>
    <servlet-class>web.Etudiant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Etudiant</servlet-name>
    <url-pattern>/Etudiant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>etudiants</display-name>
    <servlet-name>etudiants</servlet-name>
    <servlet-class>web.etudiants</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>etudiants</servlet-name>
    <url-pattern>/etudiants</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>enseignant</display-name>
    <servlet-name>enseignant</servlet-name>
    <servlet-class>web.enseignant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>enseignant</servlet-name>
    <url-pattern>/enseignant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>enseignants</display-name>
    <servlet-name>enseignants</servlet-name>
    <servlet-class>web.enseignants</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>enseignants</servlet-name>
    <url-pattern>/enseignants</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admins</display-name>
    <servlet-name>admins</servlet-name>
    <servlet-class>web.admins</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admins</servlet-name>
    <url-pattern>/admins</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>directeurs</display-name>
    <servlet-name>directeurs</servlet-name>
    <servlet-class>web.directeurs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>directeurs</servlet-name>
    <url-pattern>/directeurs</url-pattern>
  </servlet-mapping>
  
  <servlet>
		<servlet-name>rs</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>DAO</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>rs</servlet-name>
		<url-pattern>/rs/*</url-pattern>
	</servlet-mapping>
	
</web-app>